name: Verify Documents
on: 
  pull_request:
  workflow_dispatch:
jobs:
  Markdownlint:
    name: Run Markdownlint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Verify Markdown structure
        run: |
            docker run --rm -v $(pwd):/workdir ghcr.io/andmos/markdownlint-cli:master "*.md"
